In [ ]:
# Python Coding


## BASIC

# Given a list:
lst = [1,2,3,4,6,7,8,9,12,4,2,5,7,2,5,2,1,4,6,3]
# Push all the even numbers to the front and odd numbers to the back
# Expected Output (one possibility):
output = [6,8,4,2,4,2,12,2,4,2,6,7,1,5,3,9,7,3,5,1]
# Note:
# 1. The order of occourance of the numbers can change
# 2. Do not use any temporary variables.

#############################################

# Write a code to merge two lists iteratively in such a way that:
# * For each iteration, one element will be picked up from each list and added to the output list
# * After each iteration, the result in the output list should always be sorted
# The lists can be of different lengths so if one gets exhausted, continue the iteration with the remaining elements of the other list
# Example:
# Iteration1: [11,90]
# Iteration2: [4,11,55,90]
# Iteration3: [4,11,55,66,88,90]
# Iteration4: [4,11,33,55,66,66,88,90]
# Iteration5: [4,11,22,33,55,66,66,88,90]
# Iteration6: [4,11,22,33,55,66,66,88,90,99]
list1 = [11, 4, 88, 66]
list2 = [90, 55, 66, 33, 22, 99]

#############################################

## INTER/ADVNC

# Write a function to find the longest common prefix string amongst an array of strings.
# If there is no common prefix, return an empty string "".

# Example 1:
# Input: strs = ["flower","flow","flight"]
# Output: "fl"

# Example 2:
# Input: strs = ["dog","racecar","car"]
# Output: ""
# Explanation: There is no common prefix among the input strings.

# Example 3:
# Input: strs = ["vet","veteran","vetter"]
# Output: "vet"

# Example 4:
# Input: strs = ["apple","crapple","grapple"]
# Output: ""

# Constraints:
#     1 <= strs.length <= 200
#     0 <= strs[i].length <= 200
#     strs[i] consists of only lower-case English letters.

#############################################

# Fibonacci series using dynamic programming

#############################################

In [ ]:
# Python Core

# What will be the output:
sample = 'hello',
print(type(sample))

# What will be the output:
t2 = ([1,2,3,4], [5,6,7,8])
t2[0].append(10)
print(t2)

# What will be the output:
a = set('abracadabra')
print(a)

# Given a list, use list slicing to get the expected output:
lst = [1,2,3,4,5]

# Expected Output
# [5,3,1]

# SQL

#1.
# EmployeeInfo Table: 
EmpID
EmpFname
EmpLname
Department
Project
Address
DOB
Gender

Write the SQL qyery to fetch the department-wise count of 
employees sorted by departmentâ€™s count in ascending order.

Query:
SELECT Department, count(EmpID) AS EmpDeptCount 
FROM EmployeeInfo GROUP BY Department 
ORDER BY EmpDeptCount ASC;

# ##################################################################

#2.
# Table1 and Table2:
TABLE_1     TABLE_2
COLUMN_1    COLUMN_2
1           0
1           1
0           1
0           2
2           4
3           null
null        null
null        null

What will be the output of below query:

Query:
SELECT count(*)
FROM TABLE_1 LEFT JOIN TABLE_2
ON TABLE_1.COLUMN_1 = TABLE_2.COLUMN_2;